@font-face {
  font-family: "iconfont"; /* Project id 4495348 */
  src: url('iconfont.woff2?t=1712452096796') format('woff2'),
       url('iconfont.woff?t=1712452096796') format('woff'),
       url('iconfont.ttf?t=1712452096796') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouxia:before {
  content: "\e60a";
}

.icon-zhanghao1:before {
  content: "\e605";
}

.icon-yanzhengma:before {
  content: "\e606";
}

.icon-yincang:before {
  content: "\e607";
}

.icon-xianshi:before {
  content: "\e608";
}

.icon-mima1:before {
  content: "\e609";
}

.icon-jiantoushang:before {
  content: "\e604";
}

.icon-quyu:before {
  content: "\e656";
}

.icon-xiaoquguanli:before {
  content: "\e659";
}

.icon-loudongguanli:before {
  content: "\e65a";
}

.icon-bianji2:before {
  content: "\e71e";
}

.icon-shebei:before {
  content: "\e71d";
}

.icon-yuan:before {
  content: "\e71c";
}

.icon-tingyong:before {
  content: "\e714";
}

.icon-liebiao1:before {
  content: "\e715";
}

.icon-fabu:before {
  content: "\e716";
}

.icon-bianji1:before {
  content: "\e717";
}

.icon-sousuo1:before {
  content: "\e718";
}

.icon-shanchu1:before {
  content: "\e719";
}

.icon-xinzeng:before {
  content: "\e71a";
}

.icon-kapian:before {
  content: "\e71b";
}

.icon-jianshao:before {
  content: "\e6f4";
}

.icon-zengjia:before {
  content: "\e6f5";
}

.icon-xiaoxi:before {
  content: "\e6f7";
}

.icon-houtui:before {
  content: "\e6f8";
}

.icon-bangzhu:before {
  content: "\e6f9";
}

.icon-shebeiweihu:before {
  content: "\e6fa";
}

.icon-bianjiemaku:before {
  content: "\e6fb";
}

.icon-chanpinfenlei:before {
  content: "\e6ff";
}

.icon-zuhuguanli:before {
  content: "\e700";
}

.icon-wumoxingguanli:before {
  content: "\e701";
}

.icon-shouye:before {
  content: "\e702";
}

.icon-shebeiguanli:before {
  content: "\e703";
}

.icon-shebeijiankong:before {
  content: "\e704";
}

.icon-daima:before {
  content: "\e705";
}

.icon-rizhiguanli:before {
  content: "\e706";
}

.icon-yingyongguanli:before {
  content: "\e707";
}

.icon-tongxunrizhi:before {
  content: "\e708";
}

.icon-baowenrizhi:before {
  content: "\e709";
}

.icon-guizeyinqing:before {
  content: "\e70a";
}

.icon-shebeizhuangtairizhi:before {
  content: "\e70b";
}

.icon-xitongshezhi:before {
  content: "\e70c";
}

.icon-zaixiantiaoshi:before {
  content: "\e70d";
}

.icon-yewuliushui:before {
  content: "\e70f";
}

.icon-guizebianpai:before {
  content: "\e710";
}

.icon-wangluozujian:before {
  content: "\e711";
}

.icon-yunweiguanli:before {
  content: "\e712";
}

.icon-chanpinweihu:before {
  content: "\e713";
}

.icon-liebiao:before {
  content: "\e633";
}

.icon-table:before {
  content: "\e816";
}

.icon-daochu:before {
  content: "\e6a2";
}

.icon-daoru:before {
  content: "\e6a3";
}

.icon-bianji:before {
  content: "\e6a4";
}

.icon-shanchu:before {
  content: "\e6a5";
}

.icon-tianjia:before {
  content: "\e6a6";
}

.icon-zhongzhi:before {
  content: "\e6a7";
}

.icon-riqixuanzeqi:before {
  content: "\e6aa";
}

.icon-xiangyou:before {
  content: "\e6ae";
}

.icon-touxiang:before {
  content: "\e6b6";
}

.icon-jinggao:before {
  content: "\e6b4";
}

.icon-zhankai:before {
  content: "\e6b7";
}

.icon-shouqi:before {
  content: "\e6b8";
}

.icon-guanbi:before {
  content: "\e6b9";
}

.icon-sousuo:before {
  content: "\e6c3";
}

.icon-mima:before {
  content: "\e62c";
}

.icon-zhanghao:before {
  content: "\e62a";
}

.icon-huanzhexiaoxiicon:before {
  content: "\e62d";
}

.icon-fuwuicon:before {
  content: "\e62e";
}

.icon-huashuguanliicon:before {
  content: "\e62f";
}

.icon-huanzheguanliicon:before {
  content: "\e630";
}

.icon-zhuankeyuangongguanliicon:before {
  content: "\e631";
}

.icon-shujutongjiicon:before {
  content: "\e632";
}

.icon-bianzubeifen:before {
  content: "\e637";
}

.icon-guanbiicon:before {
  content: "\e639";
}

.icon-jiantouiconbeifen:before {
  content: "\e63c";
}

.icon-jisuaniconbeifen:before {
  content: "\e63d";
}

.icon-a-shanchuicon1beifen:before {
  content: "\e640";
}

.icon-xiangshangjiantouicon:before {
  content: "\e645";
}

.icon-tianjiaicon:before {
  content: "\e646";
}

.icon-xiangxiajiantouicon:before {
  content: "\e647";
}

.icon-xuanzhongiconbeifen:before {
  content: "\e64c";
}

.icon-weiduiconbeifen:before {
  content: "\e64d";
}

.icon-zhuanhuaniconbeifen:before {
  content: "\e64f";
}

.icon-kelongiconbeifen:before {
  content: "\e63e";
}

.icon-riqiicon:before {
  content: "\e641";
}

.icon-xiugaiiconbeifen1:before {
  content: "\e650";
}

.icon-shezhiiconbeifen:before {
  content: "\e651";
}

.icon-shijianxuanzeqiicon:before {
  content: "\e652";
}

.icon-shijianicon:before {
  content: "\e644";
}

.icon-cengciiconbeifen:before {
  content: "\e653";
}

.icon-huanzhetouxiang:before {
  content: "\e648";
}

.icon-hulianwangyiyuanicon:before {
  content: "\e649";
}

.icon-a-icon-Chatrecord:before {
  content: "\e64a";
}

.icon-a-icon-Sendpictures:before {
  content: "\e654";
}

.icon-icon-screenshot:before {
  content: "\e657";
}

.icon-a-icon-Administratorsettings:before {
  content: "\e658";
}

.icon-a-icon-Operationlog:before {
  content: "\e65b";
}

.icon-a-Platformentrance-icon:before {
  content: "\e65d";
}

.icon-icon-Transfer:before {
  content: "\e65e";
}

.icon-a-Internethospital-icon:before {
  content: "\e65f";
}

.icon-a-Informationsupplement-Icon:before {
  content: "\e662";
}

.icon-off-line-icon1:before {
  content: "\e663";
}

.icon-on-line-icon1:before {
  content: "\e664";
}

.icon-a-classification-icon1:before {
  content: "\e660";
}

.icon-a-content-icon1:before {
  content: "\e661";
}

.icon-classification-icon:before {
  content: "\e691";
}

.icon-content-icon:before {
  content: "\e693";
}

.icon-icon-Transfer2:before {
  content: "\e694";
}

.icon-icon-end1:before {
  content: "\e695";
}

.icon-a-Informationsupplement-Icon1:before {
  content: "\e699";
}

.icon-a-Messagereminder-Icon:before {
  content: "\e69a";
}

.icon-icon-upload1:before {
  content: "\e69b";
}

.icon-s_fasongtupian:before {
  content: "\e69c";
}

.icon-s_chonglai:before {
  content: "\e69d";
}

.icon-s_biaoqian:before {
  content: "\e69e";
}

.icon-s_fuwu_:before {
  content: "\e69f";
}

.icon-s_gongzuotai:before {
  content: "\e6a0";
}

.icon-s_chakan:before {
  content: "\e6a1";
}

.icon-s_genjinrenwu:before {
  content: "\e6a8";
}

.icon-s_fuwu_blue:before {
  content: "\e6a9";
}

.icon-s_huanzheguanli2:before {
  content: "\e6ab";
}

.icon-s_guanliyuan:before {
  content: "\e6ac";
}

.icon-s_jiantou:before {
  content: "\e6af";
}

.icon-s_huashu1:before {
  content: "\e6b0";
}

.icon-s_huihua:before {
  content: "\e6b1";
}

.icon-s_huanzheguanli:before {
  content: "\e669";
}

.icon-s_huanzhexiaoxi2:before {
  content: "\e66a";
}

.icon-s_jiuzhentixing:before {
  content: "\e66b";
}

.icon-s_jietu:before {
  content: "\e66c";
}

.icon-s_jinggao:before {
  content: "\e66d";
}

.icon-s_liaotianjilu:before {
  content: "\e66e";
}

.icon-s_huanzhexiaoxi:before {
  content: "\e670";
}

.icon-s_right:before {
  content: "\e671";
}

.icon-s_mima:before {
  content: "\e672";
}

.icon-s_jieshu:before {
  content: "\e673";
}

.icon-s_shezhi:before {
  content: "\e674";
}

.icon-s_wenjian:before {
  content: "\e675";
}

.icon-s_sw2:before {
  content: "\e676";
}

.icon-s_tianjia:before {
  content: "\e677";
}

.icon-s_shujutongji:before {
  content: "\e678";
}

.icon-s_zhishiku:before {
  content: "\e679";
}

.icon-s-huashu:before {
  content: "\e67a";
}

.icon-s_yuyuetixing:before {
  content: "\e67b";
}

.icon-S-RIZHI:before {
  content: "\e67c";
}

.icon-s-pingtai:before {
  content: "\e67d";
}

.icon-s-huashu_blue:before {
  content: "\e67e";
}

.icon-s_wenjianjia:before {
  content: "\e67f";
}

.icon-s_huashu:before {
  content: "\e680";
}

.icon-s_sousuo:before {
  content: "\e681";
}

.icon-s_shanchu:before {
  content: "\e682";
}

.icon-s_riqixuanzheqi:before {
  content: "\e683";
}

.icon-s_yuangongguanli:before {
  content: "\e684";
}

.icon-s_mubanguanli:before {
  content: "\e685";
}

.icon-s_zhanghao2:before {
  content: "\e686";
}

.icon-s_biaoqing:before {
  content: "\e687";
}

.icon-s_fuxuankuang:before {
  content: "\e688";
}

.icon-s_fuxuankuang2:before {
  content: "\e689";
}

.icon-s_daochu:before {
  content: "\e68a";
}

.icon-s_chongzhi:before {
  content: "\e68b";
}

.icon-s_fasong:before {
  content: "\e68c";
}

.icon-s_baocun:before {
  content: "\e68d";
}

.icon-s_zhedieshang:before {
  content: "\e68e";
}

.icon-s_zhediexia:before {
  content: "\e68f";
}

.icon-s_guanbi:before {
  content: "\e690";
}

.icon-icon-Star-Unchecked:before {
  content: "\e692";
}

.icon-jibenxinxiicon:before {
  content: "\e697";
}

.icon-biaoqianicon:before {
  content: "\e698";
}

.icon-icon-Star:before {
  content: "\e6ad";
}

.icon-s_Completed:before {
  content: "\e6b2";
}

.icon-s_female:before {
  content: "\e6b3";
}

.icon-s_male:before {
  content: "\e6b5";
}

.icon-s_yiguoqi:before {
  content: "\e6ba";
}

.icon-s_jiantouzuo2:before {
  content: "\e6bb";
}

.icon-s_tianjia1:before {
  content: "\e696";
}

.icon-s_shanchu1:before {
  content: "\e6bc";
}

.icon-s_xiugai:before {
  content: "\e6bd";
}

.icon-s_shouqi:before {
  content: "\e6be";
}

.icon-s_zhankai:before {
  content: "\e6bf";
}

.icon-s_guanjia:before {
  content: "\e6c0";
}

.icon-s_left:before {
  content: "\e6c1";
}

.icon-s_right1:before {
  content: "\e6c2";
}

.icon-youhuiquanshiyongrenshu:before {
  content: "\e6d8";
}

.icon-youhuiquanlingqurenshu:before {
  content: "\e6d9";
}

.icon-iconyouhuiquanfahangzhangshu:before {
  content: "\e6da";
}

.icon-iconyouhuiquanlingquzhangshu:before {
  content: "\e6db";
}

.icon-iconyouhuiquanshiyongzhangshu:before {
  content: "\e6dc";
}

.icon-yizengzhong:before {
  content: "\e6c4";
}

.icon-jianyitizhong:before {
  content: "\e6c5";
}

.icon-zongjilucishu:before {
  content: "\e6c6";
}

.icon-zuijinyici:before {
  content: "\e6ca";
}

.icon-mubiaozengzhong:before {
  content: "\e6cb";
}

.icon-dabiao:before {
  content: "\e6cc";
}

.icon-piandi:before {
  content: "\e6cd";
}

.icon-piangao:before {
  content: "\e6d0";
}

.icon-zuijinyici1:before {
  content: "\e6d1";
}

.icon-piandi1:before {
  content: "\e6d4";
}

.icon-piangao1:before {
  content: "\e6d5";
}

.icon-fasong:before {
  content: "\e6e2";
}

.icon-daisuifang:before {
  content: "\e6e3";
}

.icon-shipin:before {
  content: "\e6e4";
}

.icon-zhankai1:before {
  content: "\e6e5";
}

.icon-tizhong:before {
  content: "\e6e6";
}

.icon-xietang:before {
  content: "\e6e7";
}

.icon-weichakan:before {
  content: "\e6e8";
}

.icon-yulan:before {
  content: "\e6e9";
}

.icon-shouqi1:before {
  content: "\e6ec";
}

.icon-a-iconzhishiku1:before {
  content: "\e6ee";
}

.icon-iconhuashu1:before {
  content: "\e6ef";
}

.icon-a-iconfuwubao1:before {
  content: "\e6f0";
}

.icon-a-iconyouhuiquan1:before {
  content: "\e6f1";
}

.icon-shangchuan:before {
  content: "\e6c7";
}

.icon-xiazai:before {
  content: "\e6c8";
}

