@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

div:focus {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family:
        Helvetica Neue,
        Helvetica,
        PingFang SC,
        Hiragino Sans GB,
        Microsoft YaHei,
        Arial,
        sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}

/* 滚动条凹槽的颜色，还可以设置边框属性 */
*::-webkit-scrollbar-track-piece {
    background-color: #22457a;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

/* 滚动条的宽度 */
*::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* 滚动条的设置 */
*::-webkit-scrollbar-thumb {
    background-color: #618bca;
    background-clip: padding-box;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

/* 滚动条鼠标移上去 */
*::-webkit-scrollbar-thumb:hover {
    background-color: #295eae;
}

.el-scrollbar .el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-dropdown-menu {
  background-color: red !important;
}


